@import "colors";

.syntax--html {

	.syntax--meta.syntax--tag.syntax--any {
		color: @light-gray;
	}

	.syntax--entity.syntax--name.syntax--tag {
		&.syntax--block, &.syntax--inline, &.syntax--name {
			color: @red;
			text-decoration: none;
		}
	}

	.syntax--entity.syntax--other.syntax--attribute-name.syntax--html {
		color: @blue;
	}


	.syntax--entity.syntax--other.syntax--attribute-name.syntax--id.syntax--html {
		color: @light-orange;
	}

	.syntax--punctuation.syntax--separator.syntax--key-value {
		color: @orange;
	}

	.syntax--string.syntax--quoted.syntax--double {
		color: @cyan;

		.syntax--punctuation.syntax--definition.syntax--string {
			&.syntax--begin, &.syntax--end {
				color: @purple;
			}

			.syntax--separator.syntax--key-value.syntax--html {
				color: @pink;
			}
		}
	}
}
