@import "colors";

.syntax--source.syntax--json {

	.syntax--constant.syntax--language {
		color: @yellow;
	}

	.syntax--meta.syntax--structure.syntax--dictionary.syntax--json {

		.syntax--string.syntax--quoted.syntax--json {
			color: @red;

			.syntax--punctuation.syntax--definition.syntax--string {
				color: @red;
			}
		}

		.syntax--meta.syntax--structure.syntax--dictionary.syntax--value.syntax--json {
			// background-color: pink;
			.syntax--string.syntax--quoted.syntax--json {
				color: @yellow;

				.syntax--punctuation.syntax--definition.syntax--string {
					color: @red;
				}
			}

			.syntax--meta.syntax--structure.syntax--dictionary.syntax--json {
				// background-color: @yellow;

				.syntax--string.syntax--quoted.syntax--json {
					color: @red;

					.syntax--punctuation.syntax--definition.syntax--string {
						color: @red;
					}
				}

				.syntax--meta.syntax--structure.syntax--dictionary.syntax--value.syntax--json {
					// background-color: orange;

					.syntax--string.syntax--quoted.syntax--json {
						color: @yellow;

						.syntax--punctuation.syntax--definition.syntax--string {
							color: @light-orange;
						}
					}
				}
			}
		}

	}
}
