// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: rgb(80,80,80);
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;
//
@cyan: #8abeb7;
// @blue: #81a2be;
@purple: #b294bb;
// @green: #b5bd68;
// @red: #cc6666;
// @orange: #de935f;
// @light-orange: #f0c674;

//Tomorrow
// #2a2a2a Current Line
// #424242 Selection
// #eaeaea Foreground
// #969896 Comment

@light-orange: #efd88e;
@red: #ed3535;
// @red: #d54e53;
@orange: #ea6936;
// @orange: #ed4f35;
// @orange: #e78c45;
// @yellow: #f4d345;
@yellow: #ede2be;
@green: #5bce5b;
// @green: #b9ca4a;
@aqua: #75ccbb;
@blue: #7aa6da;
@purple: #c397d8;
@white: rgb( 180, 180, 180);
@pink: #e058ac;
